<FONT FACE="MONOSPACED"><BR>
<CENTER><FONT size="5"></FONT></CENTER></CENTER><BR>
<BR>
<CENTER><FONT size="4">MoneyGram&nbsp;Send</FONT></CENTER><BR>
<CENTER><FONT size="4">MoneyGram&nbsp;Receive</FONT></CENTER><BR>
<CENTER><FONT size="4">ExpressPayment</FONT></CENTER><BR>
<CENTER><FONT size="4">Daily&nbsp;Sales&nbsp;Report</FONT></CENTER><BR>
<BR>
<CENTER><FONT size="3"><B>GUISBOROUGH,UKPO</B></FONT></CENTER><BR>
<CENTER><FONT size="3"></FONT></CENTER></CENTER><BR>
<BR>
<FONT size="3">TEMG&nbsp;Agent&nbsp;ID:&nbsp;&nbsp;</FONT><BR>
<BR>
<FONT size="3">MoneyGram&nbsp;Agent&nbsp;ID:&nbsp;&nbsp;809206</FONT><BR>
<BR>
<FONT size="3">Activity&nbsp;Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4/14/06&nbsp;12:00&nbsp;AM</FONT><BR>
<FONT size="3">Report&nbsp;Date/Time:&nbsp;&nbsp;4/14/06&nbsp;at&nbsp;11:11&nbsp;AM</FONT><BR>
<FONT size="3">Report&nbsp;Source:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Host</FONT><BR>
<BR>
<CENTER><FONT size="3"></FONT></CENTER></CENTER><BR>
<CENTER><FONT size="3"></FONT></CENTER></CENTER><BR>
<BR>
<FONT size="3">Incomplete Transactions&nbsp;</FONT><FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</FONT><BR>
<BR>
<CENTER><FONT size="3">Invalid&nbsp;Logins</FONT></CENTER><BR>
<FONT size="3">Employee ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time</FONT><BR>
<FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT><BR>
<CENTER><FONT size="3"><B>MoneyGram&nbsp;Receive</B></FONT></CENTER><BR>
<BR>
<FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Currency&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qty</FONT><BR>
<FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---</FONT><BR>
<FONT size="3"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N/A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</FONT><BR>
</CENTER><BR>
________________________________________________________<BR>
<FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount&nbsp;&nbsp;&nbsp;&nbsp;Qty</FONT><BR>
<FONT size="3">MoneyGram&nbsp;Send/</FONT><BR>
<FONT size="3">ExpressPayment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT><FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</FONT><BR>
<FONT size="3">Fees&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT><FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</FONT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <BR>
________________________________________________________<FONT size="3">Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT><FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</FONT><BR>
<BR>
<BR>
<FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amount&nbsp;&nbsp;&nbsp;&nbsp;Qty</FONT><BR>
<FONT size="3">MoneyGram Reversal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</FONT><BR>
________________________________________________________<FONT size="3">Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</FONT><FONT size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0</FONT><BR>
<BR>
<BR>
<CENTER><FONT size="5"></FONT></CENTER></CENTER><BR>
<CENTER><FONT size="5"></FONT></CENTER></CENTER><BR>
<CENTER><FONT size="5"></FONT></CENTER></CENTER><BR>
</FONT>